<!DOCTYPE html>
<html lang="{{ html_lang_map[app.request.locale] ?? app.request.locale }}">
<head>
        <meta charset="UTF-8">
        <title>{% block title %}Projet API{% endblock %}</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="none">
        <meta name="referrer" content="no-referrer">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
 </head>
<body>
    <header class="container-fluid bg-dark mb-2 px-0 shadow-bottom">
        <div class="container">
            <nav class="navbar navbar-expand-md justify-content-center text-white" data-bs-theme="dark" aria-label="Menu principal" role="navigation">
                <a class="navbar-brand" href="/"><i class="bi bi-bookmark-star-fill"></i> Projet API</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-main">
                    <ul class="navbar-nav mx-auto mb-2 mb-md-0 text-center">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_main') }}"><i class="bi bi-house-door" aria-hidden="true"></i> <span class="visually-hidden">{{ 'global.home'|trans({}, 'main') }}</span></a>
                        </li>
						{% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_post_index') }}">{{ 'feature.post'|trans({'%count%': 2}, 'main')|capitalize }}</a>
                            </li>

                              {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_admin_user_index') }}">{{ 'user.role_user'|trans({'%count%': 2}, 'main')|capitalize }}</a>
                                </li>     
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_category_index') }}">{{ 'feature.category'|trans({'%count%': 2}, 'main')|capitalize }}</a>
                                </li>     
                            {% endif %}            

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_user_profile_show') }}">{{ 'user.my_account'|trans({}, 'main')|capitalize }}</a>
                            </li>  
                                         
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">{{ 'global.logout'|trans({}, 'main') }}</a>
                            </li>                           
                        {% else %}
                              <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_register') }}">{{ 'global.register'|trans({}, 'main') }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}">{{ 'global.sign_in'|trans({}, 'main') }}</a>
                            </li>
                        {% endif %}                           
                    </ul>
                </div>
            </nav>
        </div>
    </header>
     <main class="container">
    {% block body %}
     {% endblock %}
    </main>
    <footer class="container-fluid bg-dark mt-3 p-2 text-white text-center shadow-top">
            &copy; {{ "now"|date('Y') }} Hervé BERNARD
    </footer>        
</body>
</html>
