{% extends 'base.html.twig' %}

{% set page_title = ('feature.post'|trans({'%count%': 1}, 'main'))|capitalize %}

{% block title %}{{ page_title }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="border-bottom mb-4">{{ page_title }} : {{ post.title }}</h1>

    <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <tbody>
            <tr>
                <th>{{ 'action.id'|trans({}, 'main')|capitalize }}</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>{{ 'title'|trans({}, 'post')|capitalize }}</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>{{ 'slug'|trans({}, 'post')|capitalize }}</th>
                <td>{{ post.slug }}</td>
            </tr>
            <tr>
                <th>{{ 'content'|trans({}, 'post')|capitalize }}</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>{{ 'publication_status.label'|trans({}, 'post')|capitalize }}</th>
                <td>{{ ('publication_status.' ~ post.publicationStatus.value)|trans({}, 'post')|capitalize }}</td>
            </tr>
            <tr>
                <th><i class="bi bi-person-fill"></i> {{ 'user.role_author'|trans({'%count%': 1}, 'main')|capitalize }}</th>
                <td>{{ post.author.firstname|capitalize }} {{ post.author.lastname|upper }}</td>
            </tr>
            <tr>
                <th><i class="bi bi-calendar3"></i> {{ 'action.date_created_at'|trans({}, 'main')|capitalize }}</th>
                <td>{{ post.createdAt ? post.createdAt|date('d/m/Y H\\hi') : '' }}</td>
            </tr>
            <tr>
                  <th><i class="bi bi-calendar3"></i> {{ 'action.date_updated_at'|trans({}, 'main')|capitalize }}</th>
                <td>{{ post.updatedAt ? post.updatedAt|date('d/m/Y H\\hi') : '' }}</td>
            </tr>
        </tbody>
    </table>

     <nav class="d-flex justify-content-center mt-4 gap-2" aria-label="Actions">
        {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_AUTHOR') and app.user and post.author.id == app.user.id) %}
            <a href="{{ path('app_post_edit', {'id': post.id}) }}" class="btn btn-success" aria-label="{{ 'action.edit'|trans({}, 'main')|capitalize }}">
                <i class="bi bi-pencil-square" aria-hidden="true"></i>
                <span class="ms-1">
                    {{ 'action.edit'|trans({}, 'main')|capitalize }}
                </span>
            </a>
        {% endif %}

        <a href="{{ path('app_post_index') }}" class="btn btn-dark" aria-label="{{ 'action.back_to_list'|trans({}, 'main')|capitalize }}">
            <i class="bi bi-chevron-compact-left" aria-hidden="true"></i>
            <span class="ms-1">
                {{ 'action.back_to_list'|trans({}, 'main')|capitalize }}
            </span>
        </a>
     </nav>    
{% endblock %}
